
html {
    font-size: 110%;
}
body {
    background-color: rgb(113, 153, 96);
    min-height: 100vh;
}

.jumbotron {
    background-color:rgba(240, 246, 255, 0.096)
}

a:link, a:visited {
    color:black;
}
ul li {
    list-style:square;
}

#me-main, #resume-dl{
    min-height: 400px;
    min-width:auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(240, 246, 255, 0.13);
}

#resume-dl{
    min-height:100px;
    margin: 1rem 0;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#summary p {
    text-indent: 2rem;
}